nav {
    padding-top: 10px;
    position: fixed;
    top: 71px;
    left: 0;
    bottom: 0;
    width: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid gray;
    user-select: none;

    background-color: #f1f1f1;

    z-index: 100;
}

nav span {
    font-size: 0;
    margin-left: 10px;
    pointer-events: none;
}

.rest-buttons {
    margin-top: 15px;
    width: 95%;
    height: 5%;
}

nav button {
    padding: 7px 20px;
    font-size: 1em;
    border: 0;
    width: 95%;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    height: 45px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    color: black;
    background-color: #f1f1f1;
    display: none;
}

nav button:nth-of-type(1) {
    background-color: lightblue;
}

.navImg {
    width: 15px;
    margin-right: 10px;
}

nav button:last-of-type {
    font-size: 1em;
}

nav button:last-of-type:hover{
    background-color: lightyellow;
}

nav button:hover {
    box-shadow: 1px 1px 5px black;
}

.nav-button {
    padding-left: 22px;
}

#darkTheme {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    top: 61px;
    left: 250px;
    right: 0;
    bottom: 0;
}

@media  (max-width: 450px) {
    nav button {
        font-weight: bold;
    }

    nav button:hover {
        box-shadow: none;
    }
}